<%- include("templates/header.ejs") %>
<div class="position-absolute" style="right: 5%; top: 35%;">
    <img id="logo" src="https://raw.githubusercontent.com/sech1p/hope/master/images/avatar/hope_avatar.png">
    <p>Powerful Discord bot with many features.</p>
    <br>
    <a href="https://github.com/sech1p/hope" target="_blank">Source code</a> | <a href="https://github.com/sech1p/hope/tree/master/docs" target="_blank">Documentation</a>
</div>
<%- include("templates/footer.ejs") %>